<h1>page creating web-app</h1>

<form action="/save" method="POST">
    <div>
        <label for="title">title:</label><br>
        <input type="text" name="title"><br>
        <label for="body">Body</label><br>
        <textarea name="body" rows="2" cols="26"></textarea><br>
    </div>
    <br>
    <div>
        <input type="submit" value="creat page">
    </div>
</form>